<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
    http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	<context:annotation-config />
	
	<import resource="classpath:spring/database.xml"/>

    <bean id="sqlSessionFactoryLots" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSourceLots" />
    </bean>


    <bean id="agregadoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.ralonso.glot.mappers.AgregadoMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactoryLots" />
    </bean>
	

    <bean id="agregadoService" class="com.ralonso.glot.services.AgregadoService">
        <property name="agregadoMapper" ref="agregadoMapper" />
    </bean>

    <bean id="sqlSessionFactoryFinanzas" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSourceFinanzas" />
    </bean>


    <bean id="finanzaMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.ralonso.glot.mappers.FinanzaMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactoryLots" />
    </bean>
	

    <bean id="finanzaService" class="com.ralonso.glot.services.FinanzaService">
        <property name="finanzaMapper" ref="finanzaMapper" />
    </bean>
    
		
</beans>
